@charset "utf-8";
/* CSS Document */
p{
	color:rgba(41,16,94,1.00);
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size:14px;
	line-height:25px;
	width:1100px;
	background-color: rgba(189,166,237,1.00);
}
h2{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color:aliceblue
}
h1{
	color:aliceblue
}
body{
	background-image: url("../4scoobydoo.jpg");
}
a:link{
	color:rgba(81,23,144,1.00);
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	background-color:rgba(112,131,220,1.00);
	padding:5px;	
	line-height:25px
}
a:hover{
	background-color:rgba(172,120,203,1.00);
	color:rgba(235,239,108,1.00);
}
img{
	height:400px;
}

