@charset "utf-8";
/* CSS Document */
p{
	color:rgba(56,106,221,1.00);
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size:14px;
	line-height:25px;
	width:1100px;
	background-color:rgba(40,25,73,1.00);
}
h2{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color:rgba(130,92,183,1.00);
}
h1{
	color:rgba(145,126,191,1.00);
}
body{
	background-image: url("b.jpg");
}
a:link{
	color:rgba(3,8,62,1.00);
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	background-color:rgba(136,102,146,1.00);
	padding:9px;	
	line-height:30px;
}
a:hover{
	background-color:rgba(0,26,232,1.00);
	color:aliceblue;
}
img{
	height:400px;
}

